body {
    margin:0;
    display: flex;
    justify-content: space-between;
}

.box{
    background: red;
    height: 100px;
    width: 100px;
}

.box2 {
    background-color: blue;
}

.box3{
    background-color: green;
}