

.container {
    display: flex;
    height: 100vh;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
    background-color: #28a745; 
    position: relative;
}

.box::after {
    content: '';
    position: absolute;
    background-color: #0284d0 ;
    height: 100%;
    width: 50%;
}

/* Different way  */

/* .box::after {
    content: attr(box2);

} */

/* .box2 {
    background-color: #0284d0 ;
    height: 100%;
    width: 50%;
} */