* {
    font-family: 'Open Sans', sans-serif;
}
body {
background: rgb(178, 195, 250);
}

header {
    float: none;
    clear: both;
text-align: center;
color: aliceblue;
border-radius: .5rem;
background-color: rgb(5, 109, 200);
box-shadow: 1px 2px 5px 0 rgb(106, 106, 106);
margin-bottom: 5px
}

header h1 {
display: block;
margin: 0;
}
header h3 {
    font-size: 15px;
display: block;
margin: 0;
padding: 5px;
}
header a {
text-decoration:none ;
font-style: italic;
color: rgb(30, 209, 126);
}
header a:hover{
/* text-decoration: none; */
color: rgb(108, 24, 156);
background-color: rgb(255, 255, 255);
border-radius: .25rem;
}


.card {
    /* float: left; */
margin: 5px 5px 5px 5px;
box-sizing: border-box;
display: inline-block;
border-radius: .25rem;
max-width: min-content;
box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .3);
overflow: hidden;

}
.cardimg {
overflow: hidden;
}

.cardimg img {
display: block;
height: 267px;
width: 250px;
object-fit:cover;
}   

#cards {
    max-width: 520px;
    /* vertical-align: middle; */
 margin: auto;   
}

 #card2 {
float: right;
 }

#box1 {
    float: left;
    clear: both;
    display: block;
margin: auto;
box-sizing: border-box;
padding: 1.2em;
border-radius: .5rem;
text-align: center;
background: #f4f4f4;
box-shadow: 1px 2px 5px 0 rgb(106, 106, 106)
}

#box1 p {
    margin: 0;
}

#con2 {
    margin: auto;
    float: left;
    clear: both;
}
#links {
    float: left;
    clear: both;
    margin: auto;
}

.wrapper {
    max-width: 960px;
    margin: auto;
}
