.App {
  text-align: center;
}

.page {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.Navbar{
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.mood_btn{
  height: max-content;
  width: max-content;
  border: 2px solid black;
  padding: 10px 5px;
  cursor: pointer;
  margin-right: 1rem;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.active{
  background-color: rgba(240, 248, 255, 0.489);
}