body {
    /* text-align: center; */
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}

.box {
    display: inline-block;
    width: 260px;
    text-align: center;
    padding: 15px;
    margin: 10px;
    overflow-wrap: break-word;
}



@media (max-width: 399px) {
    .box{
        font-size: .6rem;}
    }
    
    
@media (min-width: 800px) {
    .box {font-size: 1.2rem;
    }
    .box h1{

}
}

/* 
@media (max-width:500px) and (min-width: 800px) {
    .box{font-size: 1rem;}
} */