.flex-center{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Mother{
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem;
  background: rgb(65, 208, 255);
}

.Mother> h1{
  grid-row: span 1;
  grid-column: span 5 ;
  text-align: center;
}

.Child{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

