.divs {
    border: 1px solid black;
    background-color: aliceblue;
}

.main {
    border: 1px solid black;
    width: 400px;
    height: 200px;
    margin: auto;
    overflow: visible;
}

#one {
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 200px;
}

#two {
    position: absolute;
    z-index: 2;
    top: 17%;
    left: 9%;
    width: 200px;
    height: 250px;
}

#three {
    position: absolute;
    z-index: 3;
    top: 41%;
    width: 500px;
    height: 150px;
}

#four {
    position: absolute;
    z-index: 4;
    left: 26%;
    width: 100px;
    height: 550px;
}