

.card{
  text-align: center;
  background-color: rgb(237, 237, 237);
  box-shadow: 5px 5px 2rem rgba(0, 0, 0, 0.5);
  width: 250px;
  /* max-width: 60vmin; */
  padding: 1rem;
  margin: .5rem;
  border-radius: .8rem;
}

.container{
  display: flex;
  flex-wrap: wrap;
}

.users{
  max-width: 100%;
}