

.container {
    display: flex;
    height: 100vh;
    /* width: 100vw; */
    justify-content: center;
    align-items: center;
}

.box {
    width: 300px;
    height: 300px;
    background-color: #28a745; 
    position: relative;
    overflow: hidden;
}

.box:hover::after {
    transform: translateX(300px);
    position: absolute;
    background-color: #0284d0 ;
    height: 300px;
    width: 300px;  
}

.box::after {
    content: '';
    background-color: #0284d0; 
    position: absolute;
    transition: .5s ease-out all;
    width: 300px;
    height: 300px;

}